<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All photos</title>
    <link rel="stylesheet" href="{% static 'photoapp/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'photoapp:index' %}" >
                    <span class="glyphicon glyphicon-camera"> Photos
                </a>
            </div>
        </div>
    </nav>

 
</body>

{% block body_block%}
        <h1>All the photos are below</h1>
        <br>
        
        <ul class='list'>
            {% for p in photos %}
            <li>
                <a class="list" href="{% url 'photoapp:detail' pk=p.id %}">{{p.name}}</a>
            </li>
            {% endfor %}
        </ul>
{% endblock %}
</html>